@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ramabhadra&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --white: #FFFFFF;
    --white-40: #FFFFFF40;
    --black: #1E1E1E;
    --black-2: #272727;
    --orange: #F19122;
    --orange-40: #f1902240;
    --orange-60: #f1902260;
}
/* GENERAL */
.button-type-1, .button-type-2, .button-type-3{
    text-transform: uppercase;
}
.button-type-1{
    background: var(--orange);
    padding: 19px 12px;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
}
.button-type-2{
    color: var(--white);
}
.button-type-3{
    background: none;
    width: 101px;
    padding: 19px 12px;
    border: solid 2px var(--orange);
    color: var(--orange);
}
.button-type-4{
    width: 36px;
    background: none;
    padding: 19px 12px;
    border: none;
    color: var(--white);
    font-size: 30px;
}
.button-type-5{
    background: none;
    color: orange;
    border: none;
    display: flex;
    align-items: center;
}
.button-type-5 span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: orange;
    border: solid 2px var(--orange);
    border-radius: 50%;
    padding-left: 4px;
    margin-right: 20px;
}
section{
    padding: 0 100px;
}
section .left-container, section .right-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 53px;
}
button{
    border: none;
}
h1{
    color: var(--white);
    font-size: 80px;
    font-weight: 500;
}
h2{
    color: var(--orange);
    font-size: 50px;
    font-weight: 500;
}
h3{
    font-size: 40px;
    font-weight: 400;
}
h4{
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
}
h3 .white{
    color: var(--white);
}
h3 .orange{
    color: var(--orange);
}
/* HEADER */
.header{
    width: 100%;;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
.header-logo img{
    width: 119px;
    height: 38px;
    margin-right: 108px;
}
.header-navbar ul{
    display: flex;
    gap: 26px;
    list-style: none;
}
.header-navbar ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
/* HERO */
.hero{
    background-image: url(../images/hero-image.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 981px;
    display: flex;
    align-items: center;
}
.hero p{
    width: 423px;
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.hero button{
    width: 276px;
    text-transform: uppercase;
}
.ourservices{
    background: var(--black-2);
    height: 931px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.experience{
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
}
.experience .left-container{
    display: flex;
    justify-content: center;
}
.experience-1{
    width: 524px;
    height: 574px;
    position: relative;
}
.experience-1 .space{
    position: absolute;
    right: 0;
}
.experience-1 p:nth-child(2){
    color: var(--orange-40);
    font-family: 'Ramabhadra', sans-serif;
    font-size: 700px;
    font-weight: 400;
    position: absolute;
    top: -455px;
    left: 0px;
}
.experience-1 img:nth-child(3){
    position: absolute;
    bottom: 240px;
    left: 80px;
}
.experience-text{
    background-color: var(--black);
    width: 465px;
    padding: 40px 60px;
    position: absolute;
    bottom: 0;
    right: 20px;
    border-left: 8px solid var(--orange);
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}
.experience .right-container{
    padding-left: 150px;
}
.experience .right-container .text{
    width: 348px;
}
.experience .right-container h2{
    width: 348px;
}
.experience .right-container p:nth-child(2){
    font-size: 13px;
    font-weight: 400;
}
.experience .right-container p:nth-child(3){
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
}
.experience .right-container p:nth-child(4){
    margin-top: 30px;
    font-size: 13px;
    font-weight: 600;
}
.experience .right-container button{
    margin-top: 30px;
}
.ourservices h3{
    margin-top: 100px;
}
.services{
    padding: 0;
    display: flex;
}
.services div{
    position: relative;
    width: 33.333%;
    height: 765px;
}
.services div:hover .text{
    width: 100%;
    height: 326px;
    padding: 30px;
    background: var(--orange);
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    bottom: 0;
    transition: .2s;
}
.services div:hover .text h4{
    padding-top: 0;
}
.services div:hover .text p, .services div:hover .text button{
    visibility: visible;
    transition: .2s;
}
.services div img{
    object-fit: cover;
    width: 100%;
    height: 765px;
}
.services div .text{
    width: 100%;
    height: 326px;
    padding: 30px;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    bottom: 0;
    transition: .2s;
}
.services div .text h4{
    padding-top: 100px;
    transition: .2s;
}
.services div .text p{
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    transition: .2s;
}
.services div .text p, .services div .text button{
    visibility: hidden;
}
footer{
    width: 100%;
    height: 165px;
    background: var(--black-2);
}
.header-navbar.white-navbar ul li a{
    color: var(--black);
}
.header-navbar.white-navbar ul li a.button-type-1{
    color: white;
}
.hero.home2-hero{
    background-image: none;
    background: var(--white);
}
.hero.home2-hero .left-container{
    height: 981px;
    position: relative;
    justify-content: center;
}
.hero.home2-hero h1{
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black);
}
.hero.home2-hero p{
    width: 319px;
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.hero.home2-hero .left-container .home-collection{
    width: calc(100% + 100px);
    background: var(--orange);
    position: absolute;
    padding: 30px 50px 30px 100px;
    bottom: 0;
    left: -100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.hero.home2-hero .left-container .home-collection h3{
    font-weight: 500;
    color: white;
}
.hero.home2-hero .left-container .home-collection div{
    width: 100%;
    height: 3px;
    background-color: var(--white-40);
}
.hero.home2-hero .left-container .home-collection div div{
    width: 40%;
    height: 3px;
    background-color: var(--white);
}
.hero.home2-hero .left-container .home-collection p{
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
}
.hero.home2-hero .left-container .home-collection span p{
    font-weight: 500;
}
.hero.home2-hero .right-container{
    position: relative;
    height: 981px;
}
.hero.home2-hero .right-container img{
    width: 100%;
    object-fit: cover;
    height: 860px;
    position: absolute;
    bottom: 0;
}
.ourservices.white{
    background: var(--white);
}
.ourservices.white .experience-1 p:nth-child(2){
    color: var(--orange-60);
}
.ourservices.white .experience-text{
    background-color: var(--white);
    color: var(--black);
    bottom: -10%;
    left: 50%;
}
.ourservices.white .experience .right-container{
    color: var(--black);
}
.services.services-2{
    background: var(--white);
    height: 600px;
    position: relative;
    align-items: center;
}
.services.services-2 div{
    position: absolute;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}
.services.services-2 div:nth-child(1){
    left: 0;
}
.services.services-2 div:nth-child(2){
    left: 50%;
    transform: translateX(-50%);
}
.services.services-2 div:nth-child(3){
    right: 0;
}
.services.services-2 div img{
    height: calc(100vw / 3);
}
.services.services-2 div{
    transition: .2s;
    z-index: 1;
}
.services.services-2 div.service:hover{
    width: calc(140vw / 3);
    height: calc(140vw / 3);
    transition: .2s;
    z-index: 3;
}
.services.services-2 div.service:hover img{
    width: calc(140vw / 3);
    height: calc(140vw / 3);
    transition: .2s;
}
.services.services-2 div:hover .text{
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}
.services div:hover .text h4{
    padding-top: 0;
}
.services div:hover .text p, .services div:hover .text button{
    visibility: visible;
    transition: .2s;
}
footer.white{
    background: var(--white);
}
.hero.home2-hero.home3-hero{
    background: none;
    background-image: url(../images/home-hero3.png);
    background-position: center;
}
.hero.home2-hero.home3-hero .left-container{
    width: 70%;
    height: 981px;
}
.hero.home2-hero.home3-hero .right-container{
    width: 30%;
    height: 981px;
    display: flex;
    justify-content: center;
}
.ourservices.white.version3 .experience .right-container{
    justify-content: left;
    padding-left: 0;
}
.ourservices.white.version3 .left-container{
    height: 800px;
    position: relative;
}
.ourservices.white.version3 .experience-1{
    position: absolute;
    top: -2857x;
    right: -100px;
}
.ourservices.white.version3 .experience-1 .space{
    height: 831px;
    position: absolute;
    right: 0;
    top: -105px;
}
.ourservices.white.version3 .experience-1 p:nth-child(2){
    left: -130px;
}
.ourservices.white.version3 .experience-1 img:nth-child(3){
    position: absolute;
    bottom: 240px;
    left: 80px;
}
.ourservices.white.version3 .experience-text{
    background-color: var(--orange);
    color: var(--white);
    bottom: -10%;
    left: -50%;
}
.ourservices.white.version3 h3{
    width: 100%;
    text-align: left;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
}
.ourservices.white.version3 h3 span{
    color: var(--black);
    font-size: 40px;
    font-weight: 500;
    text-align: left;
}
.newservices{
    width: 100%;
    padding: 100px;
}

.newservices .cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.newservices .cards .card{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    transition: .2s;
}
.card:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: .2s;
}
.newservices .cards .card img{
    width: 100%;
    height: 277px;
    object-fit: cover;
}
.newservices .cards .card .card-info{
    padding: 20px 30px;
    height: 250px;
    transition: .2s;
    display: flex;
    justify-content: space-between;
}
.newservices .cards .card .card-info h4{
    width: 200px;
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    transition: .2s;
}
.newservices .cards .card .card-info button{
    color: var(--black);
    transition: .2s;
}
.card:hover .card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    transition: .2s;
}
.card .card-info p{
    display: none;
    transition: .2s;
}
.card:hover .card-info p{
    display: initial;
    transition: .2s;
}
.card .card-info h4, .card .card-info button{
    height: 20px;
}
.card:hover .card-info h4, .card:hover .card-info button{
    height: 20px;
}
.card .card-info button{
    padding: 0;
    margin-bottom: 0;
}

.card:hover .card-info button{
    margin-bottom: 20px;
}



.hero .left-container{
    position: relative;
}
.mini-logo{
    width: 68px;
    height: 122px;
    position: absolute;
    top: 30%;
    left: 35%;
}
.hero .right-container.right-container-v4 img{
    width: 119px;
    height: 38px;
    position: inherit;
}
.hero .right-container.right-container-v4 p{
    font-size: 15px;
    font-weight: 500;
}
.hero .right-container.right-container-v4 button{
    font-size: 18px;
    font-weight: 600;
}
.space.profile-v4{
    width: calc(100% + 100px);
    height: calc(100%);
    object-fit: cover;
}
.newservices.service-v4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newservices.service-v4 img{
    width: 100%;
}
.title-h3{
    text-align: center;
}
.projects{
    width: 100%;
    position: relative;
}
.projects .project{
    width: 100%;
    height: 100px;
    background-color: var(--white);
    position: absolute;
}
.projects .project:nth-child(2){
    top: 0;
    clip-path: ellipse(52% 100% at 50% 0%);
}
.projects .project:nth-child(3){
    bottom: 0;
    clip-path: ellipse(52% 100% at 50% 100%);
}
.projects .image-cards{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.projects .image-cards div img{
    width: 100%;
    height: 620px;
}